<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Assuming you are using the "la" icon set -->
    <link rel="stylesheet" href="path/to/your/la-icons/css/la-icons.css"
    <title>Yönetim Paneli</title>
</head>
<body>

    <!-- Sidebar -->
    <div class="sidebar">
        <div class="scrollbar-inner sidebar-wrapper">
            <div class="user">
                <div class="photo">
                    <img src="/Ready-Bootstrap-Dashboard-master/assets/img/profile.jpg">
                </div>
                <div class="info">
                    <a class="" data-toggle="collapse" href="#collapseExample" aria-expanded="true">
                        <span>
                            SignalR Yönetim Paneli
                            <span class="user-level">Admin</span>
                            <span class="caret"></span>
                        </span>
                    </a>
                    <div class="clearfix"></div>

                    <div class="collapse in" id="collapseExample" aria-expanded="true" style="">
                        <ul class="nav">
                            <li>
                                <a href="/Menu/Index/">
                                    <span class="link-collapse"><i class="la la-bars"></i> Menü</span>
                                </a>
                            </li>
                            <li>
                                <a href="/Register/Index/">
                                    <span class="link-collapse"><i class="la la-bars"></i> Yeni Kayıt</span>
                                </a>
                            </li>
                            <li>
                                <a href="/Login/Index/">
                                    <span class="link-collapse"><i class="la la-bars"></i>Giriş Yap</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <ul class="nav">
                <li class="nav-item">
                    <a href="/Ready-Bootstrap-Dashboard-master/index.html">
                        <i class="la la-dashboard"></i>
                        <p>Dashboard</p>
                        <span class="badge badge-count"></span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/Default/Index/">
                        <i class="la la-motorcyle"></i>
                        <p>Siteye Git</p>
                        <span class="badge badge-count"></span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/MenuTable/Index/">
                        <i class="la la-th-large"></i>
                        <p>Masalar</p>
                        <span class="badge badge-count"></span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/MenuTable/TableListByStatus/">
                        <i class="la la-th-large"></i>
                        <p>Masa Durumları</p>
                        <span class="badge badge-count"></span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/Category/Index/">
                        <i class="la la-list-alt"></i>
                        <p>Kategoriler</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/Product/Index/">
                        <i class="la la-th"></i>
                        <p>Ürünler</p>
                        <span class="badge badge-count"></span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/Booking/Index/">
                        <i class="la la-bell"></i>
                        <p>Rezervasyonlar</p>
                        <span class="badge badge-success"></span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/About/Index/">
                        <i class="la la-info-circle"></i>
                        <p>Hakkımızda</p>
                        <span class="badge badge-danger"></span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/Discount/Index/">
                        <i class="fa fa-percent"></i>
                        <p>İndirimler</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/Slider/Index/">
                        <i class="la la-star"></i>
                        <p>Öne Çıkanlar</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/Testimonial/Index/">
                        <i class="la la-star-o"></i>
                        <p>Referanslar</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/Contact/Index/">
                        <i class="la la-star-o"></i>
                        <p>Ana Sayfa İletişim</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/SocialMedia/Index/">
                        <i class="la la-share-alt"></i>
                        <p>Sosyal Medya</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/Statistic/Index/">
                        <i class="la la-bar-chart"></i>
                        <p>İstatistikler</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/Setting/Index/">
                        <i class="la la-cogs"></i>
                        <p>Ayarlar</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/Message/Index/">
                        <i class="la la-cogs"></i>
                        <p>Mesaj Sayfası</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/Natification/Index/">
                        <i class="la la-android"></i>
                        <p>Bildirimler</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/ProgressBars/Index/">
                        <i class="la la-bell-slash"></i>
                        <p>Anlık Durum Çubuğu</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/Mail/Index/">
                        <i class="la la-anchor"></i>
                        <p>Mail İşlemleri</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/QR/Index/">
                        <i class="la la-qrcode"></i>
                        <p>QR Code Oluştur</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/Login/LogOut/">
                        <i class="la la-sign-out"></i>
                        <p>Çıkış Yap</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/Login/LogOut/">
                        <i class="la la-sign-out"></i>
                        <p>Çıkış Yap</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>

</body>
</html>
