@model BookingCreateDto
@{
    ViewData["Title"] = "CreateBooking";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="col-md-12">
	<form method="post">
		<div class="card">
			<div class="card-header">
				<div class="card-title">Yeni Rezervasyon Girişi</div>
			</div>
			<div class="card-body">
				<div class="form-group">
					<label for="Name">Ad Soyad</label>
					<input type="text" asp-for="Name" class="form-control" id="Name">
				</div>
			</div>
			<div class="card-body">
				<div class="form-group">
					<label for="Phone">Telefon Numarası</label>
					<input type="text" asp-for="Phone" class="form-control" id="Phone">
				</div>
			</div>
			<div class="card-body">
				<div class="form-group">
					<label for="Mail">Mail Adresi</label>
					<input type="text" asp-for="Mail" class="form-control" id="Mail">
				</div>
			</div>
			<div class="card-body">
				<div class="form-group">
					<label for="PersonCount">Kişi Sayısı</label>
					<input type="text" asp-for="PersonCount" class="form-control" id="PersonCount">
				</div>
			</div>
			<div class="card-body">
				<div class="form-group">
					<label for="Date">Rezervasyon Tarihi</label>
					<input type="date" asp-for="Date" class="form-control" id="Date">
				</div>
			</div>
			<div class="card-action">
				<button class="btn btn-success">Ekle</button>
			</div>
		</div>
	</form>
</div>
