@model SignalR.WebUI.Dtos.MenuTableDto.CreateMenuTableDto

@{
    ViewData["Title"] = "CreateMenuTable";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h1>Masa Ekle</h1>

<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="CreateMenuTable">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Eke" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Geri Dön</a>
</div>

