@model UpdateProductDto

@{
    ViewData["Title"] = "UpdateProduct";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="col-md-12">
	<form method="post">
		<div class="card">
			<div class="card-header">
				<div class="card-title">Ürün Güncelle</div>
			</div>
			<input type="hidden" asp-for="ProductId" />
			<div class="card-body">
				<div class="form-group">
					<label for="CategoryName">Ürün Adını Giriniz</label>
					<input type="text" asp-for="ProductName" class="form-control" id="ProductName">
				</div>
			</div>
			<div class="card-body">
				<div class="form-group">
					<label for="Price">Fiyat Giriniz</label>
					<input type="text" asp-for="Price" class="form-control" id="Price">
				</div>
			</div>
			<div class="card-body">
				<div class="form-group">
					<label for="ImageUrl">Görsel Giriniz</label>
					<input type="text" asp-for="ImageUrl" class="form-control" id="ImageUrl">
				</div>
			</div>
			<div class="card-body">
				<div class="form-group">
					<label for="CategoryId">Kategori Giriniz</label>
					@Html.DropDownListFor(x =>x.CategoryId,(List<SelectListItem>)ViewBag.Values,new {@class="form-control"})
				</div>
			</div>
			<div class="form-group">
				<label for="exampleFormControlSelect1">Durum</label>
				<select class="form-control" asp-for="ProductStatus" id="ProductStatus">
					<option>True</option>
					<option>False</option>
				</select>
			</div>
			<div class="card-body">
				<div class="form-group">
					<label for="Descripton">Ürün Açıklaması Giriniz</label>
					<input type="text" asp-for="Descripton" class="form-control" id="Descripton">
				</div>
			</div>
			<div class="card-action">
				<button class="btn btn-success">Güncelle</button>
			</div>
		</div>
	</form>
</div>
